
body {
    font-size: 18px;
    padding: 100px;
}

/*
   SVG
*/

svg {
    border: 0;
    display: block;
    width: 600px;
    overflow: hidden;
    width: 600px;
    height: 570px;
}

text {
    font-family: monospace;
}


polygon {
    stroke: black;
}

g {
    cursor: pointer;
}

pre {
    white-space: pre-wrap;
}
